body{
  font-family: 'Indie Flower', cursive;
  font-size: 28px;
}

section.game{
  width: 840px;
  height: 640px;
  margin: auto;
  display: flex;
}

.game-controls{
  width: 200px;
  max-height: 640px;
  background-color: #f3f3f3;
  position: relative;
}
.start-game{
  text-align: center;
  position: absolute;
  bottom: 0;
  width: calc(100% - 2em);
}
.start-button{
  height: 48px;
  border: 1px solid;
}

.game-board{
    width: 640px;
    height: 640px;
}

.game-board>.grid>.row{
  display: flex;
}
.game-board>.grid>.row>.square{
  border: 1px dashed #eaeaea;
}
.game-board>.grid>.row>.hidden.square{
  border: 1px dashed #b8d0c4;
  background-size: contain;
}
.game-board>.grid>.row>.hidden{
  background-color: #ebf5ec;
}
.game-board>.grid>.row>.mine{
  background-color: #f00;
  background-size: contain;
}

.preload{ visibility: hidden; }