.overlay {
  font-family: sans-serif;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}
.gameStart {
  width: 300px;
  height: 300px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.25s;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 50%);
}
.result {
  text-align: center;
  margin-bottom: 26px;
}
.title {
  text-align: center;
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  justify-content: center;
}
.startButton {
  width: 80px;
  margin: 6px;
}
.startButton>button {
  width: 100%;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 0;
  box-shadow: 2px 2px 4px rgb(0 0 0 / 50%)
}


.statusBoard {
  height: 24px;
  background: #000;
  color: #fff;
  display: flex;
  align-items: center;
}
.time {
  display: flex;
  justify-content: flex-end;
  margin-right: 4px;
  width: 3em;
}
.gameGrid {
  display: inline-block;
  padding: 4px;
  border: 1px solid #000;
  background-color: #cecece;
  border-radius: 4px;
  box-shadow: 4px 4px 8px rgb(0 0 0 / 50%);
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  opacity: 0;
  transition: opacity 0.5s;
}
.shown {
  opacity: 1;
}
.row {
  display: flex;
}
.cell {
  width: 1.5em; 
  height: 1.5em;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: background-color 0.1s;
}
.gameGrid>.row:not(:last-child)>.cell {
  border-bottom: 1px solid #dbdbdb;
}
.row>.cell:not(:last-child) {
  border-right: 1px solid #dbdbdb;
}
.hidden {
  background-color: #aaa;
}
.marked:after {
  content: "✗";
}
.wrong {
  background-color: #ff0;
}
.cell.boom {
  background: radial-gradient(closest-side, rgb(132 132 132), rgb(241 241 241), #aaa);
}

.gameGrid.boom {
  animation: shake .05s linear infinite;
}
@keyframes shake {
  25%  { transform: translate( 5px, -5px) }
  50%  { transform: translate( 5px,  5px) }
  75%  { transform: translate(-5px,  5px) }
  100% { transform: translate(-5px, -5px) }
}

.revealed::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  left: 0;
  top: 0;
  background-color: #aaa;
}
.revealed.c0::after  { animation: fall0  .3s ease-in forwards; }
.revealed.c1::after  { animation: fall1  .4s ease-in forwards; }
.revealed.c2::after  { animation: fall2  .4s ease-in forwards; }
.revealed.c3::after  { animation: fall3  .3s ease-in forwards; }
.revealed.c4::after  { animation: fall4  .4s ease-in forwards; }
.revealed.c5::after  { animation: fall5  .3s ease-in forwards; }
.revealed.c6::after  { animation: fall6  .4s ease-in forwards; }
.revealed.c7::after  { animation: fall7  .3s ease-in forwards; }
.revealed.c8::after  { animation: fall8  .4s ease-in forwards; }
.revealed.c9::after  { animation: fall9  .4s ease-in forwards; }
.revealed.c10::after { animation: fall10 .3s ease-in forwards; }
@keyframes fall0  { 100% { transform: scale(0) rotateX(10deg) rotateZ(40deg); }}
@keyframes fall1  { 100% { transform: scale(0) rotateX(20deg) rotateY(10deg); }}
@keyframes fall2  { 100% { transform: scale(0) rotateY(90deg) rotateZ(30deg); }}
@keyframes fall3  { 100% { transform: scale(0) rotateX(-36deg) rotateY(26deg); }}
@keyframes fall4  { 100% { transform: scale(0) rotateY(80deg) rotateZ(44deg); }}
@keyframes fall5  { 100% { transform: scale(0) rotateX(130deg) rotateY(19deg); }}
@keyframes fall6  { 100% { transform: scale(0) rotateX(-80deg) rotateY(70Deg) rotateZ(28deg); }}
@keyframes fall7  { 100% { transform: scale(0) rotateY(-200deg) rotateZ(-65deg); }}
@keyframes fall8  { 100% { transform: scale(0) rotateX(6deg) rotateY(-50deg); }}
@keyframes fall9  { 100% { transform: scale(0) rotateY(154deg) rotateZ(-90deg); }}
@keyframes fall10 { 100% { transform: scale(0) rotateX(10deg) rotateY(-76deg) rotateZ(-34deg); }}

.cell.boom::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, .75);
  border-radius: 50%;
  z-index: 2;
  animation: boom .3s ease-out forwards;
}
@keyframes boom {
  50% {
    transform: scale(3);
    opacity: 1;
  }
  100% {
    transform: scale(4);
    opacity: 0;
  }
}